---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - addon.cluster.x-k8s.io
  resources:
  - kubewardenaddons
  - kubewardenpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - addon.cluster.x-k8s.io
  resources:
  - kubewardenaddons/finalizers
  - kubewardenpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - addon.cluster.x-k8s.io
  resources:
  - kubewardenaddons/status
  - kubewardenpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  - clusters/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
